@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap');

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Gaegu', cursive;
    font-weight: 400;
}